<ion-view title="Configuration" id="page4" ng-controller="configurationCtrl as conf">
    <ion-content padding="true" class="has-header">
        <div id="deviceInfo-markdown3" style="color:#000000;">
            <p>
                <strong>SenderID</strong>
            </p>
        </div>
        <form id="deviceInfo-form2" class="list ">
            <label class="item item-input " id="deviceInfo-input2" name="senderID">
                <input ng-model="conf.senderID" type="text">                
            </label>
        </form>

        <div id="deviceInfo-markdown3" style="color:#000000;">
            <p>
                <strong>UID</strong>
            </p>
        </div>
        <form id="deviceInfo-form2" class="list ">
            <label class="item item-input " id="deviceInfo-input3" name="uid">
                <input ng-model="conf.uid" type="text">                
            </label>
        </form>        

        <div id="deviceInfo-markdown3" style="color:#000000;">
            <p>
                <strong>E-mail</strong>
            </p>
        </div>
        <form id="deviceInfo-form2" class="list ">
            <label class="item item-input " id="deviceInfo-input4" name="mail">
                <input ng-model="conf.mail" type="text">                
            </label>  
        </form> 

        
        <div id="configuration-button-bar1" class=" button-bar ">
            <button id="configuration-button1" style="border-radius:1px 1px 1px 1px;" class=" button button-positive  button-block icon-left ion-android-create " ng-click="conf.registerConfiguration()">Register</button>
        </div>
    </ion-content>
</ion-view>