<ion-view title="Device Info" id="page3" ng-controller="deviceInfoCtrl as deviceInf">
    <ion-content padding="true" class="has-header">
        <div id="deviceInfo-markdown3" style="color:#000000;">
            <p>
                <strong>Platform</strong>
            </p>
        </div>
        <form id="deviceInfo-form2" class="list ">
            <label class="item item-input " id="deviceInfo-input2" name="platform">
                <textarea readonly rows="1">{{deviceInf.platform}}</textarea>                
            </label>
        </form>

        <div id="deviceInfo-markdown3" style="color:#000000;">
            <p>
                <strong>RegID</strong>
            </p>
        </div>
        <form id="deviceInfo-form2" class="list ">
            <label class="item item-input " id="deviceInfo-input2" name="regID">
                <textarea readonly rows="4">{{deviceInf.regID}}</textarea>                
            </label>
        </form>

        <div id="deviceInfo-markdown3" style="color:#000000;">
            <p>
                <strong>DeviceId</strong>
            </p>
        </div>
        <form id="deviceInfo-form2" class="list ">
            <label class="item item-input " id="deviceInfo-input2" name="regID">
                <textarea readonly rows="1">{{deviceInf.deviceId}}</textarea>                
            </label>
        </form>        

        <div id="deviceInfo-button-bar1" class=" button-bar ">
            <button id="deviceInfo-button1" style="border-radius:1px 1px 1px 1px;" class=" button button-positive  button-block icon-left ion-android-delete " ng-click="deviceInf.unRegisterDevice()">Unregister</button>  
            <button id="deviceInfo-button1" style="border-radius:1px 1px 1px 1px;" class=" button button-positive  button-block icon-left ion-android-create " ng-click="deviceInf.registerDevice()">Register</button>
            <button id="deviceInfo-button1" style="border-radius:1px 1px 1px 1px;" class=" button button-positive  button-block icon-left ion-android-create " ng-click="deviceInf.updatePartialDevice()">Update</button>
        </div>
    </ion-content>
</ion-view>