<ion-view title="Device Info" id="page3">
    <ion-content padding="true" class="has-header">
        <div id="deviceInfo-markdown3" style="color:#000000;">
            <p>
                <strong>RegID</strong>
            </p>
        </div>
        <form id="deviceInfo-form2" class="list ">
            <label class="item item-input " id="deviceInfo-input2" name="regID">
                <input type="text" placeholder="">
            </label>
        </form>
        <div id="deviceInfo-button-bar1" class=" button-bar ">
            <button id="deviceInfo-button1" style="border-radius:1px 1px 1px 1px;" class=" button button-positive  button-block icon-left ion-android-create ">Register</button>
            <button id="deviceInfo-button2" class=" button button-positive  button-block icon-left ion-android-delete ">Unregister</button>
        </div>
    </ion-content>
</ion-view>