<ion-view id="page2" title="Notifications" ng-controller="listOfNotificationsCtrl as listNot">
    <ion-content padding="false" class="has-header">
        <ion-list class="list">
            <ion-item ng-repeat="notification in listNot.listnot" class="item-button-right item-icon-right" >
                <p style="margin-top:0px;color:#000000;">{{notification.time}}</p>
                <p style="margin-top:0px;color:#000000;">{{notification.message}}</p>
                <i class="icon ion-android-arrow-forward" ng-click="listNot.showNotification(notification)"></i>
                <ion-option-button class="button-assertive" ng-click="listNot.deleteNotification(notification)">Delete
                </option-button>
            </ion-item>
        </ion-list>                 
    </ion-content>

    <button ng-hide="true" id="listnot-refresh" style="border-radius:1px 1px 1px 1px;" class=" button button-positive  button-block icon-left ion-android-create " ng-click="listNot.refreshNotifications()">Refresh</button>     
</ion-view>